*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    min-height: 100vh;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d8d8d8;
    font-family: 'Roboto', sans-serif;
}

.container{
    min-width: 400px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#calc-container h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #d8d8d8;
}

form{
    display: flex;
    flex-direction: column;   
}

#form-controls{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 15px;
}

#form-controls label {
    margin-bottom: 15px;
    font-size: 18px;

}

#form-controls input {
    padding: 15px 50px;
    outline: 0;
    border: none;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #145DA0;
    overflow: hidden;
    transition: 0.5s ease;
    color: #d8d8d8;
}


button:hover{
   background-color: #2E8BC0;
}



#result {
    display: none;
}

#result h2{
    font-size: 25px;
    margin-bottom: 15px;
}

#result span {
    font-weight: bold;
}

#result p {
    font-size: 20px;
    margin-bottom: 15px;
}

.error {
    margin: 8px 0 12px 0;
    background-color: #ff0000;
    color: white;
    text-align: center;
}



@media(max-width: 450px) {
    .container{
        min-width: 350px;
        min-height: 550px;
    }
    
}










